<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Edit course</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

     <link rel="stylesheet" th:href="@{/css/style.css}" />

  </head>
  <body>

        <!-- sidebar starts -->
		<div th:replace="~{fragments/admin-sidebar :: frg-admin-sidebar}"></div>
     <!-- sidebar ends -->

        <div class="content">
            <h2> Course Management </h2>
            <p>Edit course below...</p>
            
            <section class="mt-5">
            	<h3 class="text-center"> Edit Course </h3>
            	
            	<div class="row justify-content-center">
            	<div class="card shadow p-5" style="width: 30%" >
															                     <!-- Handle image data -->
            		<form th:action="@{/updateCourseDetailsForm}" th:object="${course}" method= "post" enctype="multipart/form-data">              
                                   
                            <div class="mb-3">
                                <label class="form-label"> Course Name : </label>
                                <input type="text" class="form-control" name="name" th:value="${course.name}" readonly />                            
                            </div>
                           <div class="mb-3">
                                <label class="form-label">Course Description: </label>
                                <textarea class="form-control" name="description" th:text="${course.description}" required ></textarea>                            
                            </div>
                             <div class="mb-3">
                                <label class="form-label">Course Original Price : </label>
                                <input type="text" class="form-control" name="orginalPrice" th:value="${course.orginalPrice}" required />                            
                            </div>
                             <div class="mb-3">
                                <label class="form-label">Course Discounted Price : </label>
                                <input type="text" class="form-control" name="discountedPrice" th:value="${course.discountedPrice}" required />                            
                            </div>
                             <div class="mb-3">
                                <label class="form-label">Course Updated On  : </label>
                                <input type="text" class="form-control" name="updatedOn" th:value="${course.updatedOn}" required />                            
                            </div>
                             <div class="mb-3">
                                <label class="form-label">Course Image  : </label>
                               <div class="d-flex align-items-center">
                               	 	<img th:src="@{${course.imageUrl}}" alt="Course Image" width="100" class="me-3"/>
                                	<input type="file" class="form-control" name="courseImg" />                            
                               </div>
                            </div>
                           <button type="submit" class="btn btn-primary"> Edit Course </button>               
                    </form>
            	</div>
            	</div>
            </section>        
        </div>



    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
